* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color:#1f1f1f;
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url(image-path("books-4.jpg"));
}
.wrapper {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-title {
  color:white;
  font-size: 8rem;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 60px;
  text-align: center;
  &__search-field {
    position: relative;
    &__search-icon {
        position: absolute;
        right: 110px;
        top: 35px;
        width: 12px;
        height: 12px;
        border: solid 2px #696969;
        border-radius: 100%;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    &__search-icon:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 3px;
      height: 6px;
      width: 2px;
      background-color: #696969;
      }
  }
}
.form {
  width: 15em;
  font-family: 'Noto Sans JP', sans-serif;
}
input {
  border: none;
  font-size: 1.8rem;
  outline: none;
}
input[type="text"]{
  width: 400px;
  height: 40px;
  border-radius: 59px;
  padding-left:20px;
}
.submit-btn {
  display:none;
}

// 以降検索結果
.search-results {
  margin: 0 auto;
  overflow: hidden;
}
.book-info {
  padding: 30px;
  margin: 40px auto;
  width: 650px;
  background-color: rgba(0,0,0,0.8);
  transition: .8s;
}
.top-info {
  display:flex;
  &__left {
    padding-right: 30px;
    &__book-image{
      width: 130px;
      border-radius: 5px;
    }
  }
  &__right {
    color:white;
    font-size:1.4rem;
    // position:relative;
    width:100%;
    &__title{
      font-weight:bold;
      font-size:1.8rem;
      border-bottom: solid 1px white;
      padding-bottom: 15px;
    }
    &__description {
      width:100%;
      line-height:2.5rem;
      text-align: justify;
      text-justify: inter-ideograph;
    }
    &__btn{
      // position:absolute;
      // bottom:2px;
      // width:100%;
      height:40px;
      width:100%;
      border-radius:25px;
      color: #ffa62a;
      font-weight:bold;
      background:none;
      border:solid 1px #ffa62a;
      transition: all  0.7s ease;
    }
    &__btn:hover {
      color: black;
      border: none;
      background:#ffa62a;
    }
  }
}

.bottom-info {
  color:white;
  height:100%;
  font-size:1.4rem;
  padding-top: 35px;
  // display:none;
  &__title {
    text-align:center;
    font-size:1.8rem;
    padding-bottom: 15px;
  }
  &__description {
    width:100%;
    padding-bottom: 15px;
    line-height:2.5rem;
    text-align: justify;
    text-justify: inter-ideograph;
  }
  &__btn {
    width:100%;
    height:40px;
    font-weight:bold;
    border-radius:25px;
    color: black;
    border: none;
    background: #ffa62a;
    transition: all  0.3s ease;
  }
  &__btn:hover {
    background: #febd69;
  }
}

// 最下部
footer {
  width: 100vw;
  height: 65px;
  background-color: #0e192d;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  line-height: 65px;
  font-size: 1.2rem;
  color: white;
  letter-spacing: 1px;
}