.wrapper
  .top-title
    BOOK SEARCH
    .top-title__search-field
      = form_tag '/', id: "search", method: "get" do
        = label_tag :keyword, ""
        = text_field_tag :keyword,"", class: "form"
        = button_tag "", type: "submit", class: "submit-btn"
        .top-title__search-field__search-icon
.search-results
-# %footer
-#   Copyright © 2019 Yuu0n. All Rights Reserved.